<div class="banner" style="background-image: linear-gradient(-225deg, rgba(227, 17, 97, 0.31) 0%, rgba(0, 0, 0, 0.42) 50%), url(<%= image_path "banner.jpg" %>);">
  <div class="banner-content">
    <h1>Machos</h1>
    <p>Des nanas proche de chez vous</p>
      <form class="form-inline" action='/products' method='get' id='form-banner'>
        <select class="form-control" id="sel1" name='skill_id' style='width: 200px;'>
          <option value ='' >Spécialité ?</option>
          <% @skills.each do |skill| %>
            <option value ='<%= skill.id %>'><%= skill.name.capitalize %></option>
          <% end %>s
        </select>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text" class="form-control" name='city' id='city' placeholder="Ville">
          <input type="hidden" name='lng' id='lng'>
          <input type="hidden" name='lat' id ='lat'>
        </div>
        <button type="submit" class="btn btn-danger">Voir nos models</button>
      </form>
  </div>
</div>

