<div class="block-service">
  <i class="fa <%= service[:icon] %> block-service__icon" aria-hidden="true"></i>
  <span class="block-service__label"><%= service[:title] %></span>
  <p class="block-service__descr"><%= service[:content] %></p>
</div>