.block-service__icon {
    font-size: 4.28571rem;
    color: $red;
}

.block-service__label {
    display: block;
    font-weight: 700;
    font-size: 1.71429rem;
    line-height: 2.14286rem;
    margin-top: 15px;
    margin-bottom: 8px;
}

.block-service{
  text-align: center;
}